<% content_for :head do %>
<script type="text/javascript" src="http://www.google.com/jsapi?key=AIzaSyCqVVJ8HSaM6ZS8XrDPJ4kxT-r8pDb1aNU"></script>
<script type="text/javascript">
google.load("earth", "1");

var ge = null;

function init() {
  google.earth.createInstance("map3d", initCallback, failureCallback);
}

function initCallback(pluginInstance) {
  ge = pluginInstance;
  ge.getWindow().setVisibility(true); // required!
  ge.getNavigationControl().setVisibility(ge.VISIBILITY_AUTO);
  createNetworkLink();
  document.getElementById('installed-plugin-version').innerHTML = ge.getPluginVersion().toString();
}

function failureCallback(errorCode) {
  //alert("Failure loading the Google Earth Plugin: " + errorCode);
}

function createNetworkLink() {
  var networkLink = ge.createNetworkLink("");
  networkLink.setDescription("NetworkLink open to fetched content");
  networkLink.setName("Open NetworkLink");
  networkLink.setFlyToView(true);

  // create a Link object
  var link = ge.createLink("");
  link.setHref("http://depthmap.osu.edu/Kmls/Halieutichthys_aculeatus_spill.kmz");


  // attach the Link to the NetworkLink
  networkLink.setLink(link);

  // add the NetworkLink feature to Earth
  ge.getFeatures().appendChild(networkLink);
}

Event.observe(window, 'load', function() { init() });
</script>
<% end %>

<h1>Welcome to Speciesmap</h1>
<p>
  Speciesmap: A Web-based Application for Recreating Baseline Distribution Records for Wildlife Affected by the 2010 Gulf of Mexico Oil Spill
</p>
<p>
  Below is an interactive visualization of co-distribution of surface oil (green; NOAA)
  and Halieutichthys aculeatus (red icons; the pancake batfish; <a  href="http://onlinelibrary.wiley.com/doi/10.1111/j.1095-8649.2010.02716.x/abstract">Ho et al., 2010</a>) in the Gulf of Mexico.
  To see all the ways you can use speciesmaps click <a href="/workflows">here</a>.
</p>



<div id="map3d_container">
  <div id="map3d"></div>
</div>
