<h1>Marine Life and the Oil Spill</h1>

<p>
  We have modified pointmap to include depth, making pointmap KMLs suitable for layered visualization with data on the oil spill from NOAA (www.nesdis.noaa.gov/news_archives/gulf_spill.html).
  Users need only create a simple data file of geographic and depth references for each taxon in comma separated values (csv) format in an editor like Excel.
</p>

<h3>How to create oil KMLs:</h3>
<p>
  The easiest way to add the oil spill to a depthmap is to simply create a new depthmap and check the "Link Kml to Oil Spill" box.<br/><br/>
  The following explains how to add oil to an existing kml.
</p>
<ol>
  <li>Go to <a href="data.gbif.org">GBIF Data Portal</a></li>
  <li>Search for the specific species you are interested in</li>
  <li>Click on the name of the species</li>
  <li>Right click and download "Placemarks for Google Earth" link</li>
  <li>Find and open the downloaded file with a text editor such as BBEdit or TextEdit</li>
  <li>Add the following line of code:<br/>"<i>&lt;NetworkLink&gt;<br />
        &lt;open&gt;1&lt;/open&gt;<br />

	&lt;name&gt;NOAA Spill Extent&lt;/name&gt;<br />
	&lt;Link&gt;<br />
		&lt;href&gt;http://mw1.google.com/mw-earth-vectordb/disaster/gulf_oil_spill/kml/noaa/nesdis_anomaly_rs2.kml&lt;/href&gt;<br />
	&lt;/Link&gt;<br />
&lt;/NetworkLink&gt;</i>" <br/><br/>below the following line of code:<br/> "<i>&lt;Document xmlns="http://earth.google.com/kml/2.1"&gt;</i>"</li>
  <li>Save the KML and open it in Google Earth.</li>
</ol>

<h3>Example kmls:</h3>
<p>Note: Files that indicate "7/13/10" show the oil spill during that date. Files without such notation have the dynamic and current representation of the oil spill</p>
<p>With depth:</p>
<ul>
	<li><a href="/files/halieutichthys_aculeatus_7-13-10_depth.oil.kmz">Pancake Batfish (<i>Halieutichthys aculeatus</i>, 7/13/10)</a></li>
	<li><a href="/files/halieutichthys_aculeatus_depth.oil.kmz">Pancake Batfish (<i>Halieutichthys aculeatus</i>)</a></li>
	<li><a href="/files/halieutichthys_intermedius_7-13-10_depth.oil.kmz">Pancake Batfish (<i>Halieutichthys intermedius</i>, 7/13/10)</a></li>
	<li><a href="/files/halieutichthys_intermedius_depth.oil.kmz">Pancake Batfish (<i>Halieutichthys intermedius</i>)</a></li>
	<li><a href="/files/halieutichthys_bispinosus_7-13-10_depth.oil.kmz">Pancake Batfish (<i>Halieutichthys bispinosus</i>, 7/13/10)</a></li>
	<li><a href="/files/halieutichthys_bispinosus_depth.oil.kmz">Pancake Batfish (<i>Halieutichthys bispinosus</i>)</a></li>

</ul>
<p>Without depth:</p>
<ul>
	<li><a href="/files/centropristis_striata_7-13.oil.kmz">Black Sea Bass (<i>Centropristis striata</i>, 7/13/10)</a></li>
	<li><a href="/files/centropristis_striata.oil.kmz">Black Sea Bass (<i>Centropristis striata</i>)</a></li>
	<li><a href="/files/morone_saxatilis_7-13-10.oil.kmz">Striped Bass (<i>Morone saxatilis</i>, 7/13/10)</a></li>
	<li><a href="/files/morone_saxatilis.oil.kmz">Striped Bass (<i>Morone saxatilis</i>)</a></li>
	<li><a href="/files/mycteroperca_bonaci_7-13-10.oil.kmz">Black Grouper (<i>Mycteroperca bonaci</i>, 7/13/10)</a></li>
	<li><a href="/files/mycteroperca_bonaci.oil.kmz">Black Grouper (<i>Mycteroperca bonaci</i>)</a></li>
	<li><a href="/files/negaprion_brevirostris_7-13-10.oil.kmz">Lemon Shark (<i>Negaprion brevirostris</i>, 7/13/10)</a></li>
	<li><a href="/files/negaprion_brevirostris.oil.kmz">Lemon Shark (<i>Negaprion brevirostris</i>)</a></li>
	<li><a href="/files/pristis_pectinata_7-13-10.oil.kmz">Smalltooth Sawfish (<i>Pristis pectinata</i>, 7/13/10)</a></li>
	<li><a href="/files/pristis_pectinata.oil.kmz">Smalltooth Sawfish (<i>Pristis pectinata</i>)</a></li>
	<li><a href="/files/sciaenops_ocellatus_7-13-10.oil.kmz">Red Drum (<i>Sciaenops ocellatus</i>, 7/13/10)</a></li>
	<li><a href="/files/sciaenops_ocellatus.oil.kmz">Red Drum (<i>Sciaenops ocellatus</i>)</a></li>
	<li><a href="/files/scomberomorus_cavalla_7-13-10.oil.kmz">King Mackerel (<i>Scomberomorus cavalla</i>, 7/13/10)</a></li>
	<li><a href="/files/scomberomorus_cavalla.oil.kmz">King Mackerel (<i>Scomberomorus cavalla</i>)</a></li>
	<li><a href="/files/sphyrna_tiburo_7-13-10.oil.kmz">Bonehead Shark (<i>Sphyrna tiburo</i>, 7/13/10)</a></li>
	<li><a href="/files/sphyrna_tiburo.oil.kmz">Bonehead Shark (<i>Sphyrna tiburo</i>)</a></li>
	<li><a href="/files/synodus_foetens_7-13-10.oil.kmz">Inshore Lizardfish (<i>Synodus foetens</i>, 7/13/10)</a></li>
	<li><a href="/files/synodus_foetens.oil.kmz">Inshore Lizardfish (<i>Synodus foetens</i>)</a></li>
	<li><a href="/files/thunnus_thynnus_7-13-10.oil.kmz">Atlantic Bluefin Tuna (<i>Thunnus thynnus</i>, 7/13/10)</a></li>
	<li><a href="/files/thunnus_thynnus.oil.kmz">Atlantic Bluefin Tuna (<i>Thunnus thynnus</i>)</a></li>
</ul>
