<h1>Publications</h1>

<p>
<a href="http://www.ij-healthgeographics.com/content/9/1/13" target="_blank">
Selection for resistance to oseltamivir in seasonal and pandemic H1N1 influenza and widespread co-circulation of the lineages
</a>
<br/>
Daniel A Janies, Igor O Voronkin, Jonathon Studer, Jori Hardman, Boyan B Alexandrov, Travis W Treseder and Chandni Valson
<br/>
<a href="/files/supdata.zip">Supplementary Data</a>
</p>
