<h1>Videos</h1>

<object width="640" height="385" style="margin-left:70px;">
<param name="movie" value="http://www.youtube.com/v/U8C2Lfu4Imc&hl=en_US&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6"></param>
<param name="allowFullScreen" value="true"></param>
<param name="allowscriptaccess" value="always"></param>
<embed src="http://www.youtube.com/v/U8C2Lfu4Imc&hl=en_US&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed>
</object>
<br/><br/>
<object width="640" height="385" style="margin-left:70px;">
<param name="movie" value="http://www.youtube.com/v/pi4_ekivQbA&hl=en_US&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6"></param>
<param name="allowFullScreen" value="true"></param>
<param name="allowscriptaccess" value="always"></param>
<embed src="http://www.youtube.com/v/pi4_ekivQbA&hl=en_US&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed>
</object>
