<h1>New Speciesmap</h1>

<p>
  New to Pointmap? Visit the <a href="/home/help" target="_blank">help page</a>.
</p>

<% form_for(@pointmap, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit 'Create' %>
<% end %>
